.container {
  margin-top: 30vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  gap: 1em;
}

@media (max-width: 600px) {
  .container {
    margin-top: 20px;
    flex-direction: column;
    align-items: stretch;
  }
}
